### ingesting data from college dataset

In [ ]:
dataset_id = "college_staging"

### creating table

In [4]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'zippy-zenith-267020:college_staging' successfully created.

In [10]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Classes \
"gs://collegedataset97/Classes.csv"

Waiting on bqjob_re356a993cb9914c_000001700db60064_1 ... (2s) Current status: DONE

### get record count for all 3 tables

In [2]:
%%bigquery
select count(*) from college_staging.Classes

   f0_
0   13

In [3]:
%%bigquery
select count(*) from college_staging.New_Students.csv

Executing query with job ID: 6f1b436b-4f80-4459-a235-a228bbd4517e
Query executing: 0.24s

ERROR:
 404 Not found: Table zippy-zenith-267020:college_staging.New_Students was not found in location US

(job ID: 6f1b436b-4f80-4459-a235-a228bbd4517e)

           -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |
   1:select count(*) from college_staging.New_Students
    |    .    |    .    |    .    |    .    |